h1{
  border:;
  color: blue;
  text-align: center;
}
img{
  border:;
  background-color: blueviolet;
  flood-opacity:7%;
}
body{
  border:;
  background-color:navy;
  text-align: center;;
}
h2{
  border:;
  color: pink;
  font-style: italic;
  text-align: center;
}
h3{
  border:;
  color:powderblue;
  text-align: center;
}
p{
  border:;
  font-family: sans-serif;
  background-color:peru;
}
ol{
  border:;
  line-height: 40px;
  float:right;
  width:30%;
}
.intro{
  border:;
  color:mediumorchid;
  font-size:20px;
  font-style:;
  background-color:peru;
}
.main{
  border:;
  float:left;
  width:70%;
  color:midnightblue;
  font-size:30px;
  background-color:peru;
}
.sidebar{
  border:;
  color:mediumblue;
  font-size:40px;
  float:right:
  width:30%;
  background-color:yellow;
}