h1{
  color: blue;
  text-align: center;
}
img{flood-opacity:7%;

}
body{background-color:navy;
  text-align: center;;
}
h2{
  color: pink;
  font-style: italic;
  text-align: center;
}
h3{
  color:powderblue;
  text-align: center;
}
p{
  text-align: right;
  font-family: sans-serif;
  color:pink;
  background-color:peru;
  font-size: 20px;
  line-height: 80px;
}
ol{
  line-height: 40px;
}
.intro{color:mediumorchid;
  font-size:20px;
  font-style:;

}
.projects{color:mediumblue;
  font-size:40px;
  font-style:;
}
.About{color:midnightblue;
  font-size:30px;
  font-style:;
}
.sidebar{
  float:right:
  width:30%;
  background-color:yellow;
}